// Variables
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,700');
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:300,600,700');
@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');

@import 'mixins';
@import 'panels';
@import 'envelope';

body, html {
	height: 100%;
	margin: 0;
	font-family: $sans-serif;
	font-size: 20px;
	font-weight: 400;
    line-height: 1.6em;
    text-align: center;
    color: $white;
    
    @include device-small {
        font-size: 16px;
    }
}

* {
    box-sizing: border-box;
}

.header {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 0;
    z-index: 100;
    box-shadow: inset 0 65px 40px rgba($black,.2);

    .header-logo {
        float: left;
        width: 130px;
    }   
}

.arrow {
    position: absolute;
    bottom: 1em;
    z-index: 100;
    width: 100%;
    text-align: center;
    -webkit-animation: bounce 1s ease infinite;
    animation: bounce 1s ease infinite;

    @include device-small {
        display: none;
    }

    i {
        height: 25px;
        width: 1px;
        display: inline-block;
        border-left: 3px solid $white;
        
        &.left {
            transform: rotate(-45deg);
        }
        
        &.right {
            transform: rotate(45deg) translate(7px, -7px);
        }
    }
}

h1 {
    font-size: 3.26em;
    font-weight: 700;
    line-height: .8em;
    border-bottom: 2px $white solid;
    display: inline-block;
    margin-bottom: .2em;
    padding-bottom: .7em;
    b {
        font-family: $sans-serif;
        font-size: .55em;
        font-weight: 600;
        letter-spacing: 8px;
        text-transform: uppercase;
    }
    span {
        font-weight: 500;
        font-family: $serif;
    }
}

h2 {
    font-size: 1.8em;
    line-height: 1.2em;
    font-family: $serif;
}

h3 {
    font-size: 1em;
    font-weight: 600;
}

span {
    font-weight: 400;
}

.secondary-button {
    display: inline-block;
    margin: 1em .2em 0;
    padding: .8em 2em;
    font-weight: 600;
    font-size: .8em;
    text-decoration: none;
    color: $white;
    border: 1px $white solid;
    border-radius: 4px;
    transition: all .3s ease;

    &:hover {
        opacity: .8;
        background: rgba($black,.1);
    }

    &:active {
        transform: translateY(3px);
    }
}
