// Variables

@import 'mixins';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,700');
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:300,600,700');
@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');

$brand-orange: #F26132;
$brand-charcoal: #232323;
$light-grey: #dcdcdc;
$white: #fff;
$black: #000;

body, html {
	height: 100%;
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	font-weight: 400;
    line-height: 1.6em;
    text-align: center;
    color: $white;
    
    @include device-mobile {
        font-size: 16px;
    }
}

* {
    box-sizing: border-box;
}

.header {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 35px;
    left: 0;
    width: 100%;
    z-index: 100;
    .header-logo {
        float: left;
        width: 130px;
    }
    a {
        display: inline;
        padding: 0 3%;
        color: #fff;
        font-weight: 600;
        text-decoration: none;
    }
}

.panel {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-position: center center;
    
    &.one,
    &.eight {
        background-color: $brand-orange;
        background-image: url('../img/glasses.png');
        background-repeat: repeat;
        background-size: 150px;
        animation: slide-left 8s linear infinite;
        color: $white;

        .panel-background {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center; 
            width: 100%;
            min-height: 100vh;
            background-image: url('../img/glasses-light.png');
            background-repeat: repeat;
            background-size: 150px;
            background-attachment: fixed;
            animation: slide-right 8s linear infinite;
        }
    }

    &.three,
    &.five,
    &.seven {
        background-size: cover;
        background-position: center center;

        .container {
            background-image: repeating-linear-gradient(135deg, #c03c41 0px, #c03c41 30px, transparent 30px, transparent 50px, #4567ae 50px, #4567ae 80px, transparent 80px, transparent 100px);
            background-color: #fff;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            box-shadow: 0px 10px 10px 0 rgba(0,0,0,0.2);
            cursor: pointer;
            padding: 15px 0 0 0;
            text-align: left;
            transform: rotate(-4deg);
            transition: all .5s ease;

            &:hover {
                transform: scale(1.1) rotate(0deg);
            }
          
            .container-inner {
                background: $white;
                color: $brand-charcoal;
                font: 1.2em "Homemade Apple", cursive;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                line-height: 1.5em;
                padding: 5% 7%;

                .stamp {
                    float: right;
                }

                h2 {
                    padding-top: 5px;
                    font: bold 1.2em "Homemade Apple", cursive;  
                }
            }
        }
    }

    &.three {
        background-image: url('https://images.unsplash.com/photo-1510820893572-6df79cee4857?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=80');
    }

    &.five {
        background-image: url('https://images.unsplash.com/photo-1530127796739-53cf66b0e64d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
    }

    &.seven {
        background-image: url('https://images.unsplash.com/photo-1496024840928-4c417adf211d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=80');
    }
} 

.section {
    background: $brand-charcoal;

    &.white-background {
        background-color: $light-grey;
        color: $brand-charcoal;
    }
}

#pp-nav li {
    padding: .5em 1em;
    a {
        span {
            width: .75em;
            height: .75em;
        }
        &.active {
            span {
                background-color: $white;
            }
        }
    }
}

.container {
    margin: 0 auto;
    max-width: 700px;
    width: 50%;

    @include device-mobile {
        width: 100%;
        padding: 0 10%;
        max-width: auto;
    }
}

h1 {
    font-size: 2.8em;
    font-weight: 600;
    line-height: 1em;
    span {
        font-weight: 600;
        font-family: "Source Serif Pro", Georgia, serif;
    }
}

h2 {
    font-size: 1.8em;
    line-height: 1.2em;
    font-family: "Source Serif Pro", Georgia, serif;
}

h3 {
    font-size: 1.2em;
    font-weight: 600;
}

span {
    font-weight: 400;
}

.secondary-button {
    display: inline-block;
    margin: 1em .2em 0;
    padding: .8em 2em;
    font-weight: 600;
    font-size: .8em;
    text-decoration: none;
    color: $white;
    border: 1px $white solid;
    border-radius: 4px;
    transition: all .3s ease;

    &:hover {
        opacity: .8;
        background: rgba($black,.1);
    }

    &:active {
        transform: translateY(3px);
    }
}

.orange-text {
    color: $brand-orange;
}

.small-avatar {
    width: 45%;
    margin: 2em 2em 0;
    border-radius: 100%;
    background: #D3f2ff;
    animation: hover-up-shadow 10s ease-in-out infinite;
}

.aby-front {
    float: right;
    width: 30%;
    padding: 2em;
}
